In [13]:
import pandas as pd
import numpy as np

In [3]:
# Import NBA stats table
nba_stats = pd.read_csv('nba_stats.csv')
nba_stats

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-,SEASON
0,Trae Young,23,76,40,36,2652,2155,711,1544,46.0,...,284,737,303,72,7,128,42,0,159,2021-22
1,DeMar DeRozan,32,76,43,33,2743,2118,774,1535,50.4,...,392,374,181,68,24,178,6,0,77,2021-22
2,Joel Embiid,28,68,45,23,2296,2079,666,1334,49.9,...,796,284,214,77,99,181,46,2,368,2021-22
3,Jayson Tatum,24,76,49,27,2731,2046,708,1564,45.3,...,609,334,217,75,49,174,22,0,667,2021-22
4,Nikola Jokic,27,74,46,28,2476,2004,764,1311,58.3,...,1019,584,281,109,63,191,66,19,444,2021-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12302,Anthony Miller,25,1,0,1,14,0,0,5,0.0,...,7,0,0,0,0,2,0,0,-14,1996-97
12303,Bruce Bowen,26,1,1,0,1,0,0,0,0.0,...,0,0,0,0,1,0,0,0,3,1996-97
12304,Cuonzo Martin,25,3,0,3,13,0,0,7,0.0,...,1,1,1,0,0,1,0,0,-2,1996-97
12305,Derrick Alston,24,2,1,1,11,0,0,5,0.0,...,4,0,0,0,0,0,0,0,-7,1996-97
12306,Elmore Spencer,27,1,1,0,5,0,0,1,0.0,...,0,0,1,1,0,0,0,0,-15,1996-97

In [4]:
curry2 = nba_stats[nba_stats['PLAYER'] == 'Stephen Curry']
curry2

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-,SEASON
13,Stephen Curry,34,64,45,19,2211,1630,535,1224,43.7,...,335,404,206,85,23,130,12,2,509,2021-22
605,Stephen Curry,33,63,37,26,2152,2015,658,1365,48.2,...,345,363,213,77,8,119,8,0,244,2020-21
1529,Stephen Curry,32,5,1,4,139,104,33,82,40.2,...,26,33,16,5,2,11,1,0,-45,2019-20
1681,Stephen Curry,31,69,52,17,2331,1881,632,1340,47.2,...,369,361,192,92,25,166,3,0,689,2018-19
2233,Stephen Curry,30,51,41,10,1631,1346,428,864,49.5,...,261,310,153,80,8,114,5,0,486,2017-18
2751,Stephen Curry,29,79,65,14,2639,1999,675,1443,46.8,...,353,524,239,142,17,183,9,0,1015,2016-17
3231,Stephen Curry,28,79,71,8,2700,2375,805,1598,50.4,...,430,527,262,169,15,161,15,2,1022,2015-16
3707,Stephen Curry,27,80,67,13,2613,1900,653,1341,48.7,...,341,619,249,163,16,158,23,0,919,2014-15
4203,Stephen Curry,26,78,50,28,2846,1873,652,1383,47.1,...,334,666,294,128,14,194,28,4,574,2013-14
4686,Stephen Curry,25,78,45,33,2983,1786,626,1388,45.1,...,314,539,240,126,12,198,15,0,133,2012-13
5354,Stephen Curry,24,26,13,13,732,383,145,296,49.0,...,88,138,65,39,8,62,3,0,79,2011-12
5654,Stephen Curry,23,74,33,41,2489,1373,505,1053,48.0,...,286,432,226,109,20,233,5,0,-17,2010-11
6107,Stephen Curry,22,80,25,55,2896,1399,528,1143,46.2,...,356,472,243,152,19,252,12,1,-187,2009-10

In [11]:
# Merge the files, do an inner join to only join matching players on both tables
nba = pd.merge(nba_stats, nba_salary3.set_index('Player'), how='inner', left_on=['PLAYER', 'SEASON'], right_on=['Player', 'SEASON'])
nba.head()

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,AST,TOV,STL,BLK,PF,DD2,TD3,+/-,SEASON,SALARY
0,Trae Young,23,76,40,36,2652,2155,711,1544,46.0,...,737,303,72,7,128,42,0,159,2021-22,8326471.0
1,DeMar DeRozan,32,76,43,33,2743,2118,774,1535,50.4,...,374,181,68,24,178,6,0,77,2021-22,26000000.0
2,Joel Embiid,28,68,45,23,2296,2079,666,1334,49.9,...,284,214,77,99,181,46,2,368,2021-22,31579390.0
3,Jayson Tatum,24,76,49,27,2731,2046,708,1564,45.3,...,334,217,75,49,174,22,0,667,2021-22,28103500.0
4,Nikola Jokic,27,74,46,28,2476,2004,764,1311,58.3,...,584,281,109,63,191,66,19,444,2021-22,31044906.0

In [14]:
# Re-arrange SEASON column to front for easier viewing
column = nba.pop('SEASON')
nba.insert(0, 'SEASON', column)
nba.head()

,SEASON,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-,SALARY
0,2021-22,Trae Young,23,76,40,36,2652,2155,711,1544,...,284,737,303,72,7,128,42,0,159,8326471.0
1,2021-22,DeMar DeRozan,32,76,43,33,2743,2118,774,1535,...,392,374,181,68,24,178,6,0,77,26000000.0
2,2021-22,Joel Embiid,28,68,45,23,2296,2079,666,1334,...,796,284,214,77,99,181,46,2,368,31579390.0
3,2021-22,Jayson Tatum,24,76,49,27,2731,2046,708,1564,...,609,334,217,75,49,174,22,0,667,28103500.0
4,2021-22,Nikola Jokic,27,74,46,28,2476,2004,764,1311,...,1019,584,281,109,63,191,66,19,444,31044906.0

In [15]:
# Re-format SEASON column 
nba['SEASON'] = nba['SEASON'].str.split('-', expand=True)[0]
nba.head()

,SEASON,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-,SALARY
0,2021,Trae Young,23,76,40,36,2652,2155,711,1544,...,284,737,303,72,7,128,42,0,159,8326471.0
1,2021,DeMar DeRozan,32,76,43,33,2743,2118,774,1535,...,392,374,181,68,24,178,6,0,77,26000000.0
2,2021,Joel Embiid,28,68,45,23,2296,2079,666,1334,...,796,284,214,77,99,181,46,2,368,31579390.0
3,2021,Jayson Tatum,24,76,49,27,2731,2046,708,1564,...,609,334,217,75,49,174,22,0,667,28103500.0
4,2021,Nikola Jokic,27,74,46,28,2476,2004,764,1311,...,1019,584,281,109,63,191,66,19,444,31044906.0